body {
    margin: 0;
    font-family: 'Raleway';
}

.containerWithPokemon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemonCard {
    position: relative;
    background-size: 750px;
    margin-left: 15px;
    margin-top: 15px;
    height: 350px;
    width: 450px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
}

.background-image-Card {
    background-image: url(img/pokeball.png);
    position: absolute;
    top: 10px;
    left: 15px;
    right: 0;
    bottom: 0;
    background-size: 550px;
    z-index: -1;
}

#pokemonImage {
    background-color: rgba(0, 0, 0, 0.550);
    border-radius: 20%;
    height: 200px;
    width: auto;
    object-fit: cover;
}

.pokemonType {
    background-color: #ffffff49;
    border-radius: 50%;
    padding: 10px;
    font-size: 19px;
    letter-spacing: 1px;
}

.pokemonTypeContainer {
    margin-top: 15px;
}

.pokemonNumber {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
}

.bg-fire {
    background-color: #ff7a60ef;
}

.bg-grass {
    background-color: #91d08bef;
}

.bg-water {
    background-color: #6bbaebef;
}

.bg-bug {
    background-color: #b1d369ef;
}

.bg-normal {
    background-color: #cfcfc3ef;
}

.bg-poison {
    background-color: #b486dcef;
}

.bg-electric {
    background-color: #ffe74cef;
}

.bg-ground {
    background-color: #c09d74ef;
}

.bg-fairy {
    background-color: #f1b0edef;
}

.bg-fighting {
    background-color: #cf887cef;
}

.bg-psychic {
    background-color: #ff91a5ef;
}

.bg-rock {
    background-color: #cfc393ef;
}

.bg-ghost {
    background-color: #997b9aef;
}

.bg-ice {
    background-color: #9dddd2ef;
}

.bg-dragon {
    background-color: #889ad1ef;
}

.bg-dark {
    background-color: #837c7cef;
}

.bg-steel {
    background-color: #c3c3cfef;
}

.bg-flying {
    background-color: #b5d9ffef;
}