html {
    scroll-behavior: auto !important;
}

body {
    margin: 0;
    font-family: 'Raleway';
    background-image: url(./img/forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 15px !important;
}

header {
    position: sticky;
    top: 0;
    padding-top: 5px;
    background-image: url(./img/forest.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    z-index: 50;
    padding-bottom: 5px;
}

input {
    outline: none;
}

.gottaHeadline {
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    color: rgba(250, 250, 250, 1);
}

.headerImg {
    width: auto;
    height: 75px;
    cursor: pointer;
}

.buttonLoad {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.containerWithPokemon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemonCard {
    position: relative;
    background-size: 750px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
    height: 350px;
    width: 450px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.pokemonCard:hover .pokemonImage {
    height: auto;
    animation: imageSize 0.8s forwards;
}

@keyframes imageSize {
    from {
        width: 200px;
    }

    to {
        width: 220px;
    }
}

.background-image-Card {
    background-image: url(./img/pokeball.png);
    position: absolute;
    top: 10px;
    left: 15px;
    right: 0;
    bottom: 0;
    background-size: 550px;
    z-index: -1;
}

.background-image-StyleCard {
    background-image: url(./img/pokeball.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 500px;
    opacity: 0.1;
    z-index: -1;
}

.pokemonImage {
    background-color: rgba(0, 0, 0, 0.550);
    border-radius: 20%;
    height: auto;
    width: 200px;
    object-fit: cover;
}

.pokemonType {
    background-color: #ffffff49;
    border-radius: 50%;
    padding: 10px;
    font-size: 19px;
    letter-spacing: 1px;
}

.pokemonTypeContainer {
    margin-top: 15px;
}

.pokemonNumber {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
}

.currentPokemonStats {
    width: 500px;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    animation: statsSize 0.8s forwards;
}

@keyframes statsSize {
    from {
        width: 150px;
    }

    to {
        width: 500px;
    }
}

.contentPokemonStats {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statsWhiteBg {
    background-color: white;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.abilities-bg {
    margin-right: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.611);
}

.types-bg {
    margin-right: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.arrowRight {
    position: absolute;
    top: 140px;
    right: 20px;
    cursor: pointer;
}

.arrowRight:hover {
    opacity: 0.6;
}

.arrowLeft {
    position: absolute;
    top: 140px;
    left: 20px;
    cursor: pointer;
}

.arrowLeft:hover {
    opacity: 0.6;
}

.closeStats {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: auto;
    cursor: pointer;
}

.closeStats:hover {
    opacity: 0.6;
}

.statsLinks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

.statsLinks a {
    cursor: pointer;
}

.containerMoves::-webkit-scrollbar {
    width: 10px;
}

.containerMoves::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.containerMoves::-webkit-scrollbar-thumb {
    background: #888;
}

.containerMoves::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.informationPokemon {
    height: 235px;
    margin-bottom: 25px;
}

.containerMoves {
    max-height: 235px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.move {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(211, 211, 211, 0.611);
    border-radius: 10px;
    margin: 5px;
}

.aboutInformation {
    display: flex;
    padding-top: 15px;
    margin-left: 20px;
}

.showAboutRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height: 30px;
}

.headerInformation {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.pokemonInformations {
    display: flex;
    flex-direction: column;
}

.myChart {
    padding-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.containerStatsImage {
    position: relative;
    height: 160px;
}

.statsImage {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.loadingBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 35;
}

.loadingImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingImage img {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 30;
    height: 300px;
    width: auto;
    animation: rotation 2s infinite linear;
}

.loadingImage h1 {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 62%;
    font-weight: 600;
    z-index: 30;
    color: white;
    letter-spacing: 1px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.dp-none {
    display: none;
}

.bg-fire {
    background-color: #ff7a60ef;
}

.bg-grass {
    background-color: #91d08bef;
}

.bg-water {
    background-color: #6bbaebef;
}

.bg-bug {
    background-color: #b1d369ef;
}

.bg-normal {
    background-color: #cfcfc3ef;
}

.bg-poison {
    background-color: #b486dcef;
}

.bg-electric {
    background-color: #ffe74cef;
}

.bg-ground {
    background-color: #c09d74ef;
}

.bg-fairy {
    background-color: #f1b0edef;
}

.bg-fighting {
    background-color: #cf887cef;
}

.bg-psychic {
    background-color: #ff91a5ef;
}

.bg-rock {
    background-color: #cfc393ef;
}

.bg-ghost {
    background-color: #997b9aef;
}

.bg-ice {
    background-color: #9dddd2ef;
}

.bg-dragon {
    background-color: #889ad1ef;
}

.bg-darkPokemon {
    background-color: #837c7cef;
}

.bg-steel {
    background-color: #c3c3cfef;
}

.bg-flying {
    background-color: #b5d9ffef;
}